<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | ShopVisa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> <!-- Bootstrap CSS --> <!-- web page styling assist by Github copilot -->
    <link href="/css/homepage.css" , rel ="stylesheet", type ="text/css" />
</head>
<body>
    <div class="header bg-white p-3"> <!-- Header -->
        <div class="header-container">
            <a href="#" class="scroll-to-top">
                <img src="./image/logo.png" alt="Logo" class="logo">
            </a>
            <div class="action-container"> <!-- Add a container for the search bar and the login button -->
                <div class="search-container">
                    <form class="input-group" id="search-form"> <!-- Add a search form --> <!-- ID is for JS-->
                        <input type="text" class="form-control search-input" id="search-bar" placeholder="Search">
                        <div id="preview-container"></div>
                    </form>
                </div>
                <a href="/cart">
                    <button class="btn btn-primary my-button">Cart</button>
                </a>
                <a href="/catalogue">
                    <button class="btn btn-primary my-button">Catalogue</button>
                </a>
                <% if (loggedin) { %>
                    <a href="/userprofile">
                        <button class="btn btn-primary my-button">Profile</button>
                    </a> <!-- If logged in, show profile button -->
                <% } else { %>
                    <a href="/login">
                        <button class="btn btn-primary my-button">Login</button>
                    </a> <!-- If not logged in, show login button -->
                <% } %>

            </div>
        </div>
    </div>
    </div>
    <div class="container mt-3">
        <img src="./image/homepage.jpeg" alt="Front page image" class="front-page-image">
        <h1 class="text-center">TOP12 Products</h1><!-- Show top12 product -->
        <div class="row">
            <% products.forEach(function(product) { %>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product-item" style="margin-top: 10px; margin-bottom: 10px;">
                        <img src="<%= product.imageURL %>" class="product-image" alt="<%= product.name %>" style="width: auto; height: 250px;">
                        <div>
                            <h5 class="mt-0 mb-1 text-center"><%= product.pName %></h5>
                            <h6 class="text-center">Price: $<%= product.price.toFixed(2) %></h6>
                            <a href="/product/<%= product.productID %>" class="btn btn-primary product-button my-button">Go to Product</a>
                            <br>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <br>
        <div class="col-12 text-center my-3">
            <a href="/catalogue">
                <button class="btn btn-primary my-button">Show More</button>
            </a>
        </div>
        <br>    
    </div>
    <footer style="display: flex; justify-content: space-between; align-items: center; width: 100%; background-color: #333; color: white; padding: 10px;">
        <div><a>Group G3</a></div>
        <div>
            <a href="/adminlogin" style="color: white;">Admin Login</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/homepage.js"></script>
    <script src="/js/search.js"></script>
    <script>console.log("test")</script>
    <% if (messages.error) { %>
        <script>
            alert('<%= messages.error %>');
        </script>
    <% } %>
</body>
</html>
