<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a payment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/payment.css">
</head>
<body>
    <div class="header bg-white p-3"> <!-- Header -->
        <div class="header-container">
            <a href="/homepage">
                <img src="../image/logo.png" alt="Logo" class="logo">
            </a>
            <div class="action-container"> <!-- Add a container for the search bar and the login button -->
                <div class="search-container">
                    <form class="input-group" id="search-form"> <!-- Add a search form --> <!-- ID is for JS-->
                        <input type="text" class="form-control search-input" id="search-bar" placeholder="Search">
                        <div id="preview-container"></div>
                    </form>
                </div>
                <a href="/cart">
                    <button class="btn btn-primary my-button">Cart</button>
                </a>
                
            </div>
            <!-- Add a link to the cart page and other url -->
        </div>
    </div>
    </div>
    <div class="container mt-5">
        <a href="/homepage" style="color: rgb(0, 0, 0);">Homepage</a><a>/StoreManagement</a>
        <h1 class="text-center">Make a payment</h1>
        <div class="row">
            <!-- add form here, hello -->
            <div class = "col-md-6"> <!-- Left column -->
                <div class = "container">
                    <form action = "/pay", method="post"> <!-- payment form-->
                        <div class = "row">
                            <div class = "column">
                                <h3>Shipping information</h3>
                                    <label for ="fname"><i class="fa fa-user"></i> Full name*</label>
                                    <input type="text" id="fname" name="firstname" placeholder="Name"required >
                                    <label for ="email"><i class="fa fa-envelope"></i> Email address*</label>
                                    <input type="text" id = "email" name = "email" placeholder="abc@example.com" required>
                                    <label for="adr"><i class="fa fa-address-card-o"></i> Address*</label>
                                    <input type="text" id="adr" name="address" placeholder="Address" required>
                                    <label for="city"><i class="fa fa-institution"></i> Country*</label>
                                    <input type="text" id="city" name="city" placeholder="Country name">
                                    
                                    </div>
                            </div>
                        </div>
                        <label>
                            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                          </label>
                          <input type="submit" value="Continue to checkout" class="btna">
                    </form>
                </div>
            
            <div class = "col-md-6">
                <div class ="container">
                    <h4>
                        Shopping cart items
                        <span class = "price" style ="color:black">
                            <i class="fa fa-shopping-cart"></i>
                            <b><%= checkedProdData.length %></b>
                        </span>
                    </h4>
                    <% checkedProdData.forEach((product, index) => { %>
                        <p><a href="/product/<%= product.productID %>"><%= product.pName %></a><span class="quantity"> x<%= product.count %></span><span class="price">$<%= product.ssum %></span></p> <!-- example, should redirect to product page-->
                    <% }); %>
                    <hr>
                    <p>Total <span class="price" id="total" style="color:black"><b>$<%= checkedProdData[0].total %></b></span></p>
                </div>
            </div>
            </div>
            
             
        </div>
    </div>
    <br>
    <footer style="display: flex; justify-content: space-between; align-items: center; width: 100%; background-color: #333; color: white; padding: 10px;">
        <div><a href="#" class="scroll-to-top" title="Scroll to top" style="color: white;">Back to top</a></div>
        <div>
            
            <a href="/adminlogin" style="color: white;">Admin Login</a>
        </div>
    </footer>
    <script>
        // Get query data from server.js and pass data from cart.ejs to cart.js as String
        var checkedProdDataJS = '<%- JSON.stringify(checkedProdData) %>';
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/payment.js"></script>
    <script src="/js/search.js"></script>

    <% if (messages.error) { %>
        <script>
            alert('<%= messages.error %>');
        </script>
    <% } %>
            
    </script>
</body>
</html>
