<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | ShopVisa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header bg-white p-3"> <!-- Header -->
        <div class="header-container">
            <a href="/">
                <img src="../image/logo.png" alt="Logo" class="logo">
            </a>
            <div class="action-container"> <!-- Add a container for the search bar and the login button -->
                <div class="search-container">
                    <form class="input-group" id="search-form"> <!-- Add a search form --> <!-- ID is for JS-->
                        <input type="text" class="form-control search-input" id="search-bar" placeholder="Search">
                        <div id="preview-container"></div>
                    </form>
                </div>
                <a href="/cart">
                    <button class="btn btn-primary my-button">Cart</button>
                </a>
                <a href="/catalogue">
                    <button class="btn btn-primary my-button">Catalogue</button>
                </a>
                <% if (loggedin) { %>
                    <a href="/userprofile">
                        <button class="btn btn-primary my-button">Profile</button>
                    </a> <!-- If logged in, show profile button -->
                <% } else { %>
                    <a href="/login">
                        <button class="btn btn-primary my-button">Login</button>
                    </a> <!-- If not logged in, show login button -->
                <% } %>
            </div>
            <!-- Add a link to the cart page and other url -->
        </div>
    </div>
    </div>
    <div class="container mt-5">
        <a id="historyLink" href="javascript:history.back()" style="color: rgb(0, 0, 0); font-size: small;">Go Back</a>
        <div class="row">
            <div class="col-md-6">
                <img src="../<%= products.imageURL %>" class="img-fluid" alt="Product Image" style="height: 450px; width: auto;">
            </div>
            <div class="col-md-6">
                <h2><%= products.pName %></h2>
                <p>Product ID: <%= products.productID %></p>
                <h4>$<%= products.price %></h4>
                <p><%= products.description %></p>
                <label for="quantity" style="font-size: 15px;">Quantity: <%= products.quantity %></label><br>
                <!-- <input type="number" id="quantity" name="quantity" min="1" max="100" value="1" style="width: 60px; height: 30px; border: 1px solid #ccc; border-radius: 4px;"><br><br> -->
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" max="100">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button><br><br>
                </div>
                <a onclick="addToCart()" class="btn btn-primary cart-button" style="height: auto; width: 300px;">Add to Cart</a>
                
            </div>
            <script>
                var productInfoJS = '<%- JSON.stringify(products) %>';
                const loginJS = '<%- JSON.stringify(loggedin) %>';
                const productCountJS = '<%- JSON.stringify(check) %>';
            </script>
            

            <div class="col-md-12"></br></div>

            <div class="col-md-9"> <!-- 75% of row-->
                <span class="heading">Consumer Rating</span>
                <% for(let i = 0; i < 5; i++) { %>
                    <% if(i < ratingAvg) { %>
                        <span class="fa fa-star checked"></span>
                    <% } else { %>
                        <span class="fa fa-star"></span>
                    <% } %>
                <% } %>
                <!-- <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span> -->
                <p><%= ratingAvg.toFixed(2) %> average based on <%= totalReview %> reviews.</p> <!--  later retrive from backend -->
                <hr style="border:3px solid #f1f1f1">
                <div class="raterow">
                    <% ratingList.forEach((rating, index) => { %>
                        <div class="side">
                            <div><%= 5 -index %></div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-<%= 5 - index %>" style="width: <%= rating*5 %>%"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div><%= rating %></div>
                        </div>
                    <% }) %>
                </div>
            </div>

            <div class="col-md-12"></br></div>

            <div class="col-md-12">
                <div class="heading" style="display: flex; align-items: center;">  
                    <span>Consumer Comments</span>
                    <span> &emsp;2&emsp; </span>
                    <span>
                        <!-- <div class="dropdown">
                            <button id="dropbtn"><img src="../image/sort-arrows-couple-pointing-up-and-down.png" style="height: 20px;"/>Order</button>
                            <div class="dropdown-content">
                                <button class="dropdown-block">
                                    Sort by Time
                                </button>
                                <button class="dropdown-block">
                                    Sort by Rating
                                </button>
                            </div>
                        </div> -->
                        <span id="comment-switcher" style="display: flex; align-items: center;">
                            <button type="button" class="comment-switcher-btn" id="comment-orderbtn" onclick="switchOrder()"><img src="../image/down.png" style="height: 20px;"></button>
                            <button type="button" class="comment-switcher-btn" id="comment-typebtn" onclick="switchType()">By Time</button>
                        </span>
                    </span>
                </div>
                <hr style="border:3px solid #f1f1f1">
                <% if (messages.error) { %>
                    <% messages.error.forEach(function(message) { %>
                        <div class="alert alert-danger" ><%= message %></div>
                    <% }) %>
                <% } %>
                <!-- to be implement later for getting new comment -->
                <div class="search-container"> 
                    <form class="input-group" id="comment-form" action ="/comment", method="post"> 
                        <input type="hidden" name="productID" value="<%= products.productID %>">
                        <div id="preview-container"></div>    
                        <div class = "col-md-9" > <!--Submit button-->
                            <input type="text" class="form-control comment-input" name="review" id="comment-box" placeholder="Leave Your Comment..." required>
                            <button class="btn btn-primary my-button" style="margin: 20px; right:0" type = "submit" onclick="warn()">Submit</button>
                            <input class="star" type="checkbox" name="star" value="1" id="star-1" />
                            <input class="star" type="checkbox" name="star" value="2" id="star-2" />
                            <input class="star" type="checkbox" name="star" value="3" id="star-3" />
                            <input class="star" type="checkbox" name="star" value="4" id="star-4" />
                            <input class="star" type="checkbox" name="star" value="5" id="star-5" />
                            
                        </div>    
                    </form>
                </div>
                <hr style="border:3px solid #f1f1f1">   
                <% review.forEach((comment, index) => { %>
                    <div calss="Comments">
                        <div class="row">
                            <div class="userinfo" style="float: left; width: 20%;display:flex; flex-direction: column;align-items: center">
                                <img src=".<%= comment.propicURL %>" style="height: 75px;border-radius: 50%;"/>
                                <p class="username" style="align-self: center;"> <%= comment.username %></p>
                            </div>
                            <div class="col-md-9" style="float: left; width: 80%;">
                                <span>Rating: </span>
                                <% for(let i = 0; i < 5; i++) { %>
                                    <% if(i < comment.rating) { %>
                                        <span class="fa fa-star checked"></span>
                                    <% } else { %>
                                        <span class="fa fa-star"></span>
                                    <% } %>
                                <% } %>
                                <span class="comment-time"> <%= comment.date %></span>
                                <div class="comment-content"> <%= comment.content %></div>
                            </div>
                        </div>
                    </div>
                    <hr style="border:3px solid #f1f1f1">
                <% }); %> <!-- End of forEach loop -->
                <!-- <div calss="Comments">
                    <div class="row">
                        <div class="userinfo" style="float: left; width: 20%;display:flex; flex-direction: column;align-items: center">
                            <img src="/image/sample.png" style="height: 75px;border-radius: 50%;"/>
                            <p class="username" style="align-self: center;">user1</p>
                        </div>
                        <div class="col-md-9" style="float: left; width: 80%;">
                            <span>Rating: </span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="comment-time"> 2 weeks ago</span>
                            <div class="comment-content">First comment.</div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <br>
    <footer style="display: flex; justify-content: space-between; align-items: center; width: 100%; background-color: #333; color: white; padding: 10px;">
        <div><a href="#" class="scroll-to-top" title="Scroll to top" style="color: white;">Back to top</a></div>
        <div>
            
            <a href="/adminlogin" style="color: white;">Admin Login</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/search.js"></script>
</body>
</html>