<!-- NEW SPECIFICATION: view user now does view all user, pass SQL:
SELECT * FROM user;-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>
    <div class="header bg-white p-3"> <!-- Header -->
        <div class="header-container">
            <a href="/homepage">
                <img src="/image/logo.png" alt="Logo" class="logo">
            </a>
            <div class="action-container"> <!-- Add a container for the search bar and the login button -->
                <div class="search-container">
                    <form class="input-group" id="search-form"> <!-- Add a search form --> <!-- ID is for JS-->
                        <input type="text" class="form-control search-input" id="search-bar" placeholder="Search">
                        <div id="preview-container"></div>
                    </form>
                </div>
                <a href="/cart">
                    <button class="btn btn-primary my-button">Cart</button>
                </a>
                
            </div>
            <!-- Add a link to the cart page and other url -->
        </div>
    </div>
    </div>
    <div class="container mt-5">
        <a id="historyLink" href="javascript:history.back()" style="color: rgb(0, 0, 0); font-size: small;"></a>
        <h1 class="text-center">View user information</h1>
        <div class="row" style="display: flex; justify-content: center;">
            <!-- add form here -->
            <!-- sample display -->
            

            <div class="card" style="padding-bottom: 10px;">
                <img src= "<%= picpath %>"  alt="Sample" class="product-image" style="width:100%">
                <h5>User Profile</h5>
                <p class="quantity">User Name: <%= name %> </p>
                <p class="quantity">User ID: <%= userid %> </p>
                <p class="quantity">User Balance: $<%= balance %> </p>

            </div>
        </div>       
        <div class="row" style="display: flex; justify-content: center;">
            <!-- add form here -->
            <!-- sample display -->
            </div>
            <div class="container mt-5">
                <h1 class="text-center">Recent purchases</h1>
                <div class="row">
                    <% products.forEach(function(product) { %>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                            <div class="card h-100" style="margin-top: 10px; margin-bottom: 10px;">
                                <img src="<%= product.imageURL %>" class="product-image" alt="<%= product.pName %>" style="width: auto; height: 250px;">
                                <div>
                                    <h5 class="mt-0 mb-1 text-center"><%= product.pName %></h5>
                                    <h6 class="text-center">Price: $<%= product.price.toFixed(2) %></h6>
                                    <h6 class="text-center">Sum: $<%= product.totalSum %></h6>
                                    <h6 class="text-center">Count: <%= product.totalCount %></h6>
                                    <a href="/product/<%= product.productID %>" class="btn btn-primary product-button my-button">Go to Product</a>
                                    <br>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>            

        </div>
    </div>   
    <div class="container mt-5">
        <a id="historyLink" href="javascript:history.back()" style="color: rgb(0, 0, 0); font-size: small;"></a>
        
        <div class="row" style="display: flex; justify-content: center;">
            <!-- add form here -->
            <!-- sample display -->
            

            

        </div>
        <div class="text-center mt-4">
            <a href="/rmuser" class="btn btn-primary my-button">Delete user information</a>
            <a href="/edituser" class="btn btn-primary my-button">Change user information</a>
            <a href="/logout" class="btn btn-primary my-button">Logout</a>

        </div>
    </div>
    
    <br>
    <footer style="display: flex; justify-content: space-between; align-items: center; width: 100%; background-color: #333; color: white; padding: 10px;">
        <div><a href="#" class="scroll-to-top" title="Scroll to top" style="color: white;">Back to top</a></div>
        <div>
            <a href="/storemanage" style="color: white; margin-right: 10px;">Store Management</a>
            <a href="/usermanage" style="color: white; margin-right: 10px;">User Management</a>
            
            

        </div>
    </footer>
    <% if (messages.error) { %>
        <script>
            alert('<%= messages.error %>');
        </script>
    <% } %> <!-- Error message if the user enters the wrong username or password-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/view.js"></script>
    <script src="/js/search.js"></script>
</body>
</html>

